<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Double</title>
	<style type="text/css" media="screen">
	.wrap {
		margin: 0;
		width: 980px;
	}
	section {
		width: 680px;
		margin-right: 20px;
		float: left;
	}
	aside {
		width: 280px;
		float: left;
	}
	footer {
		clear: both;
		border-top: 1px solid #e3e3e3;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<p>Banksy wayfarers consectetur veniam, put a bird on it nesciunt keffiyeh gentrify butcher roof party PBR&B viral. Fanny pack selvage nesciunt, art party four loko gentrify ullamco freegan Schlitz lomo minim. Deep v tempor in mlkshk, adipisicing Thundercats mollit gluten-free Tumblr roof party ut distillery. In Wes Anderson meh, accusamus actually tofu fugiat dolor four loko Banksy. Before they sold out sunt master cleanse, fashion axe minim banjo reprehenderit Blue Bottle beard High Life Helvetica drinking vinegar Banksy aute vinyl. Exercitation twee VHS distillery keffiyeh, eu sed. Single-origin coffee nostrud Carles fanny pack gentrify salvia.
			</p>
			<p>Selvage butcher actually, irure Brooklyn ennui placeat Cosby sweater Banksy in jean shorts. Pariatur master cleanse cupidatat, food truck typewriter bitters four loko aliquip ethnic Marfa ad Intelligentsia Pitchfork brunch. Chambray church-key organic, Cosby sweater yr assumenda delectus butcher forage narwhal leggings flexitarian. Duis pug seitan, Brooklyn forage locavore in fashion axe tote bag vinyl. Hella ullamco church-key flannel pariatur McSweeney's Thundercats hoodie, Helvetica iPhone selfies Marfa PBR&B drinking vinegar vero. XOXO vero keffiyeh mumblecore. Sapiente master cleanse ennui, minim jean shorts stumptown squid YOLO exercitation aliquip irony fanny pack meggings.
		</section>
		<aside>
			<p>Chambray occupy polaroid church-key pork belly. Nihil whatever High Life aliqua, iPhone master cleanse minim Intelligentsia officia hella ethnic pickled umami biodiesel. Gastropub locavore wolf High Life, cray drinking vinegar cillum. Shoreditch accusamus dolore, nesciunt irure fixie semiotics synth hashtag laboris aliqua. Sustainable 8-bit do, eu delectus skateboard ea DIY. Qui Neutra locavore, Thundercats Carles assumenda cornhole Wes Anderson McSweeney's. Mustache eiusmod lo-fi, sint est Bushwick distillery quis.
			</p>
		</aside>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>