<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Gallery</title>
	<!-- Photo credit: http://subtlepatterns.com/dimension/ -->
	<style type="text/css" media="screen">
	body {
		background: url(dimension.png);
	}
	.wrap {
		margin: 0 3%;
	}
	article {
		width: 200px;
		padding: 10px;
		margin: 10px;
		float: left;
		background: #3a3a3a;
	}
	footer {
		clear: both;
		font-size: 28px;
	}
	p {
		font-family: Helvetica;
		color: #f3f3f3;
	}
	header {
		font-size: 36px;
	}
	h2 {
		color: #f3f3f3;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<article>
				<h2>Title</h2>
				<p>IPhone ethical Terry Richardson ennui tofu. Leggings Blue Bottle sapiente wolf plaid, blog raw denim. Enim in roof party voluptate ut, authentic Etsy fugiat wayfarers accusamus selvage non.
				</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Tattooed 90's kogi cardigan YOLO iPhone hella, Thundercats banjo stumptown pariatur mlkshk sriracha. Next level skateboard vinyl Terry Richardson retro fingerstache. Dolor Thundercats gluten-free.
				</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Bitters placeat 90's tousled laborum Thundercats. Beard tote bag jean shorts Carles pickled, Truffaut 8-bit mumblecore placeat aliqua Neutra sriracha Echo Park eu Pinterest. Chia Intelligentsia fashion axe.
				</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Put a bird on it culpa mlkshk, viral bitters fashion axe enim meggings trust fund lo-fi. Magna veniam kale chips shabby chic Pinterest, ex in. Wes Anderson aliqua Blue Bottle enim shabby chic brunch.
				</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Viral artisan leggings, scenester mlkshk shabby chic typewriter velit Shoreditch. Umami fingerstache est mustache fashion axe Terry Richardson, consequat enim dolor veniam photo booth quinoa.
				</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Mixtape vero readymade fanny pack ullamco qui. Raw denim sint Godard pug fugiat four loko sapiente meh. Ugh mlkshk occupy, Marfa 8-bit DIY nulla Pitchfork next level assumenda. Farm-to-table fixie est jean shorts, gastropub sriracha trust fund narwhal consequat.
				</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Food truck wayfarers vegan Terry Richardson lo-fi, Odd Future enim aliqua proident laborum. Drinking vinegar ex nesciunt, mollit ad shabby chic occupy Pitchfork butcher flannel lomo wayfarers do Helvetica. Typewriter chambray pug trust fund selfies scenester.
				</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Williamsburg vegan keffiyeh hoodie Marfa. Terry Richardson aesthetic ea sunt, odio duis nesciunt tofu Banksy craft beer officia non chambray. Tousled slow-carb Helvetica, sriracha cardigan messenger bag master cleanse Marfa. Laborum dolor YOLO, incididunt in PBR.
				</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Voluptate Tonx polaroid lo-fi, authentic viral fanny pack tempor trust fund sapiente Austin occupy drinking vinegar assumenda. Farm-to-table skateboard dreamcatcher, vero viral VHS assumenda mollit banjo mlkshk accusamus hella trust fund quis McSweeney's. 
				</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Bespoke skateboard enim four loko adipisicing, mixtape sustainable kitsch High Life et aliquip. Lo-fi occupy non Echo Park, jean shorts beard 3 wolf moon sint High Life 90's sapiente ennui. Church-key messenger bag ad consectetur, asymmetrical sartorial direct trade shabby chic Tonx irure kale chips sapiente.
				</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Stumptown 90's slow-carb placeat. Tumblr do roof party, Godard actually Pinterest ad chillwave Etsy hashtag PBR&B DIY nihil pariatur fap. Banksy sartorial meh vegan id stumptown. Sint freegan 90's Williamsburg sustainable, fap narwhal yr squid id.
				</p>
			</article>
		</section>
		<footer>
			<h3>This is a footer</h3>
		</footer>
	</div>
</body>
</html>